@import 'tailwindcss';

@font-face {
  font-family: 'TamaConnect';
  src: url('/fonts/tamaconnecttype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@utility font-kablammo {
  font-family: 'Kablammo', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'MORF' 0;
}

@utility font-tama {
  font-family: 'TamaConnect';
  font-weight: normal;
  font-style: normal;
}

* {
  @apply select-none;
}

html,
body {
  @apply overflow-hidden overscroll-none touch-none;
}

body {
  @apply w-screen h-[100svh];
  @apply bg-indigo-900;
}

.loading {
  @apply fixed top-0 w-full h-full z-10;
  @apply flex justify-center items-center bg-indigo-900;
  @apply transition-[height] duration-700;
}

.loading p {
  @apply font-kablammo uppercase text-white text-6xl;
  @apply opacity-100 transition-opacity;
}

.loading.end {
  @apply h-0;
}

.loading.end p {
  @apply opacity-0;
}

.webgl {
  @apply fixed top-0 left-0 outline-none;
}

footer {
  @apply fixed bottom-0 w-full p-5 z-10;
  @apply bg-indigo-900 text-white font-mono text-right text-xs font-bold;
}
