/* tailwind config */
@import 'tailwindcss';

@font-face {
  font-family: 'Kablammo';
  src: url('/fonts/kablammo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TamaConnect';
  src: url('/fonts/tamaconnecttype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --animate-progress: progress 1s infinite linear;

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}

@utility font-kablammo {
  font-family: 'Kablammo', 'Comic Sans MS', 'Comic Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'MORF' 0;
}

@utility font-tama {
  font-family: 'TamaConnect';
  font-weight: normal;
  font-style: normal;
}

/* styles */
* {
  @apply select-none;
}

html,
body {
  @apply overflow-hidden overscroll-none touch-none;
}

body {
  @apply w-screen h-[100svh];
  @apply bg-indigo-900;
}

.loading {
  @apply fixed top-0 w-full h-full z-10;
  @apply flex flex-col gap-8 justify-center items-center bg-indigo-900;
  @apply transition-[height] duration-700;
}

.loading p {
  @apply font-kablammo uppercase text-white text-6xl;
  @apply opacity-100 transition-opacity;
}

.loading .progress {
  @apply h-1.5 w-60 bg-white overflow-hidden rounded-full opacity-100 transition-opacity;
}

.loading .progress > div {
  @apply animate-progress origin-[0%_50%] h-full bg-indigo-500;
}

.loading.end {
  @apply h-0;
}

.loading.end p {
  @apply opacity-0;
}

.loading.end .progress {
  @apply opacity-0;
}

.webgl {
  @apply fixed top-0 left-0 outline-none;
}

footer {
  @apply fixed bottom-0 w-full p-5 z-10;
  @apply bg-indigo-900 text-white font-mono text-right text-xs font-bold;
}
